{% extends 'base.html.twig' %}

{% block title %}Bookmarks{% endblock %}

{% block body %}

<h1>Bookmarks</h1>

<table>
    <thead>
        <tr>
            <th>Ad</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for bookmark in bookmarks %}
        <tr>
            <td><a href="{{ path('show_annonce', {id: bookmark.id}) }}">{{ bookmark.title }}</a></td>
            <td><span class="badge badge-danger"><a href=""><i class="fa-regular fa-trash-can"></i></a></span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
