@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Quicksand";
}

body {
    background: rgb(238, 238, 238);
}

a {
    color: #000;
    /* text-decoration: none; */
    font-weight: 700;
}

.mb-0 {
    margin-bottom: 0;
}
.mt-0 {
    margin-top: 0;
}

#container {
    padding: 10px 40px;
}

nav {
    z-index: 99;
    background: rgb(58, 58, 58);
    color: #fff;
    border-radius: 8px;
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
nav div {
    display: flex;
    gap: 20px;
}
nav a {
    color: #fff;
}

.annonces {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.annonce-box {
    position: relative;
    box-sizing: border-box;
    padding: 50px 10px 10px 10px;
    margin: 2.5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 230px; */
    max-width: 24%;
    flex-basis: 24%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    transition: .5s;
}
.annonce-box:hover {
    transform: translateY(-5px);
}
.annonce-box.user-annonce {
    border: 3px solid rgb(205, 26, 67);
}

.annonce-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.annonce-box a {
    margin-top: 20px;
}

.price {
    font-size: 40px;
}

.thumb-price {
    font-size: 20px;
    font-weight: 600;
}

.set-img-box {
    /* width: 600px; */
    max-width: 50%;
    flex-basis: 50%;
}

.set-img-box img {
    width: 100%;
}

.set-minifigs-box {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
}

.set-minifigs-box img {
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
}

.set-minifig {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    max-width: 200px;
}

.set-minifig-img img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 16px;
    padding: 5px 10px;
}

.badge {
    padding: 3px 10px;
    font-size: 11px;
    border-radius: 5px;
    color: #fff;
    width: fit-content;
}

.badge a {
    text-decoration: none;
    color: #fff;
}

.badge-default {
    background: rgb(15, 83, 179);
}

.badge-info {
    background: rgb(8, 148, 132);
}

.badge-danger {
    background: rgb(148, 8, 38);
}

.badge-dark {
    background: rgb(58, 58, 58);
}

.bookmark {
    position: absolute;
    height: 30px;
    width: 30px;
    /* top: 15px; */
    /* right: 15px; */
    top: 0; 
    right: 0;
    padding: 15px;
    /* background: blue; */
}
.bookmark i {
    font-size: 20px;
    color:rgb(181, 34, 85)
}

.presentation {
    display: flex;
    gap: 50px;
}

.minifig-section {
    max-width: 50%;
    flex-basis: 50%;
}